* {
    background-image: none;
    box-shadow: none;
}

window {
    background-color: rgba(239, 241, 245, 0.95);
}

button {
    border-radius: 0;
    border: none;
    background-color: rgba(239, 241, 245, 0.8);
    margin: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;
    color: rgba(76, 79, 105, 1.0);
    font-family: "CaskaydiaMono Nerd Font";
    font-size: 20px;
}

button:focus, button:active, button:hover {
    background-color: rgba(30, 102, 245, 0.3);
    outline-style: none;
    border: 4px solid rgba(30, 102, 245, 1.0);
}

#lock {
    background-image: image(url("/usr/share/wlogout/icons/lock.png"));
}

#logout {
    background-image: image(url("/usr/share/wlogout/icons/logout.png"));
}

#suspend {
    background-image: image(url("/usr/share/wlogout/icons/suspend.png"));
}

#hibernate {
    background-image: image(url("/usr/share/wlogout/icons/hibernate.png"));
}

#shutdown {
    background-image: image(url("/usr/share/wlogout/icons/shutdown.png"));
}

#reboot {
    background-image: image(url("/usr/share/wlogout/icons/reboot.png"));
}
